# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kritkorn-68-gi204-Lab-10--Airplane-Flight-Physics-Simulation.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
